<!DOCTYPE html>
<html>
<head>
	<title>Show Exercice</title>
	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>
	<div class="row">
	    <div class="col s6 offset-s3">
	      <div class="card white">
	        <div class="card-content white-text">
	          <span class="card-title blue-grey-text darken-1">Description</span>
	          <div class="row">
	          	<!-- TODO: descriptios de l'exercice -->
			    <p class="blue-grey-text darken-1">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero’s De Finibus Bonorum et Malorum for use in a type specimen book. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero’s De Finibus Bonorum et Malorum for use in a type specimen book.</p>
			    <button class="btn right">Commencer</button>
			  </div>
	      </div>
	    </div>
	  </div>
	  <div class="col s6 offset-s3">
	      <div class="card white">
	        <div class="card-content white-text">
	          <span class="card-title blue-grey-text darken-1">Avis</span>
	          <div class="row">
	          	<!-- TODO: charger les commentaires -->
	          	<!-- start commentaire / avis -->
			    <h6 class="green-text "><strong>David</strong></h6>
			    <span class="green-text darken-1">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web </span>
			    <!-- end commentaire / avis -->
			  </div>
	      </div>
	    </div>
	  </div>
	  <div class="col s6 offset-s3">
	  	<form>
	      <div class="card white">
	        <div class="card-content white-text">
	          <span class="card-title blue-grey-text darken-1">Commentaire</span>
	          <div class="row">
	          	<!-- Section commentaire / avis -->
			    <div class="input-field col s6">
			          <input placeholder="Votre commentaire" id="review" type="text" class="validate">
			          <label for="username">Commentaire</label>
			    </div>
			  </div>
	      </div>
	      <!-- TODO: Envoyer le commentaire -->
	      <button class="btn right">Envoyer</button>
	    </div>
	    </form>
	  </div>
	</div>
</body>
</html>