{% extends 'base.html.twig' %}

{% block body %}
	{% for message in app.flashes('redirect') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div class="jumbotron text-center">
		<div class="container">
			<h1>
				Bienvenue sur la HomePage
			</h1>
			<p>
				Bienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le site  Bienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le siteBienvenue sur le site
			</p>
		</div>
	</div>
	<div class="container">
		<h2>
			Les derniers Exercices
		</h2>
		<div class="row flex">
			{% for exercice in exercices %}
				<div class="col-3">
					{% include( 'exercice/_exercice.html.twig') %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
